<div class="body-container">
  <!-- Sidebar -->
  <app-sidebar [fd]="fd"></app-sidebar>

  <!-- Main content -->
  <div class="main">
    <!-- div -->
    <div class="main-container">
      <!-- info components -->
      <div class="info">
        <app-guide-button></app-guide-button>
        <app-logout></app-logout>
        <app-acomulate-points [pdv]="pdv"></app-acomulate-points>
        <app-info class="infocomponent"></app-info>
      </div>

      <div class="center-conter">
        <!-- Grid de las tarjetas  -->
        <div class="card-container">
          <div class="alone-card">
            <app-vertical-card-big
              *ngFor="let item of marca.slice(0, 1)"
              [imagenUrl]="item.url"
              [imagenDoradaUrl]="item.urlDorada"
              [puntos]="item.percentage"
              [text]="item.text"
              [subtext]="item.subtext"
              [color]="item.color"
            >
            </app-vertical-card-big>
          </div>

          <div class="cards">
            <div class="card-row">
              <app-vertical-card
                *ngFor="let item of marca.slice(1, 6)"
                [imagenUrl]="item.url"
                [imagenDoradaUrl]="item.urlDorada"
                [puntos]="item.percentage"
                [text]="item.text"
                [subtext]="item.subtext"
                [color]="item.color"
              >
              </app-vertical-card>
            </div>
            <br />
            <br />
            <!-- Más tarjetas verticales -->
            <div class="card-row">
              <app-vertical-card
                *ngFor="let item of marca.slice(6, 11)"
                [imagenUrl]="item.url"
                [imagenDoradaUrl]="item.urlDorada"
                [puntos]="item.percentage"
                [text]="item.text"
                [subtext]="item.subtext"
                [color]="item.color"
              >
              </app-vertical-card>
            </div>
          </div>
          <!-- Tarjetas verticales -->
        </div>
        <!-- Tarjetas horizontales -->
        <div class="card-row-horizontal">
          <app-horizontal-card
            *ngFor="let item of marca.slice(11, 15)"
            [imagenUrl]="item.url"
            [imagenDoradaUrl]="item.urlDorada"
            [puntos]="item.percentage"
            [text]="item.text"
            [subtext]="item.subtext"
            [color]="item.color"
          >
          </app-horizontal-card>
        </div>
      </div>

      <app-footer class="footer"></app-footer>
    </div>
  </div>
</div>
